.about {
    padding: 4rem 1rem;
    background-color: #fff;
    position: relative;
    overflow: hidden; /* Hide overflow */
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
  }
  
  .section-title {
    font-size: 2rem;
    color: #343a40;
    margin-bottom: 2rem;
  }
  
  .about-content {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap */
    justify-content: space-around; /* Space items evenly */
  }
  
  .about-item {
    width: 30%; /* Adjust width as needed */
    margin: 15px; /* Space between items */
    text-align: center; /* Center text */
  }
  
  .about-item img {
    width: 80px; /* Set a max width for images */
    height: 80px; /* Maintain aspect ratio */
    margin : 1rem; /* Space below the image */
  }
  
  .about-item:hover {
    transform: scale(1.05); /* Scale effect on hover */
    transition: transform 0.3s; /* Smooth transition */
  }
  
  @media (max-width: 768px) {
    .about-item {
      width: 100%; /* Full width on smaller screens */
      margin-bottom: 1rem; /* Space below each item */
    }
  }