<nav class="navbar">
  <div class="container">
    <div class="logo">
      <a href="#">RepairSite</a>
    </div>
    <div class="menu-toggle" (click)="toggleMenu()">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
    <ul class="menu" [class.active]="isMenuOpen">
      <li><a href="#hero">{{ 'navbar.home' | translate }}</a></li>
      <li><a href="#services">{{ 'navbar.services' | translate }}</a></li>
      <li><a href="#about">{{ 'navbar.about' | translate }}</a></li>
      <li><a href="#testimonials">{{ 'navbar.testimonials' | translate }}</a></li>
      <li><a href="#contact">{{ 'navbar.contact' | translate }}</a></li>
      <li class="language-switcher">
        <button (click)="switchLang('ua')">UA</button>
        <button (click)="switchLang('en')">EN</button>
        <button (click)="switchLang('pl')">PL</button>
      </li>
    </ul>
  </div>
</nav>