<section class="brand-icons">
  <div class="container">
    <h2>{{ 'brands.title' | translate }}</h2>
    <ul class="slider__wrapper swiper-wrapper brands__list brands-item-list">
      <li class="brands-item-list__item slider__item swiper-slide">
        <span>
          <img data-src="assets/brands/samsung.png" alt="Samsung" class="brands-item-list__img animated fadeIn" src="assets/brands/samsung.png">
        </span>
      </li>
      <li class="brands-item-list__item slider__item swiper-slide">
        <span>
          <img data-src="assets/brands/lg.png" alt="LG" class="brands-item-list__img animated fadeIn" src="assets/brands/lg.png">
        </span>
      </li>
      <li class="brands-item-list__item slider__item swiper-slide">
        <span>
          <img data-src="assets/brands/bosch.png" alt="Bosch" class="brands-item-list__img animated fadeIn" src="assets/brands/bosch.png">
        </span>
      </li>
      <li class="brands-item-list__item slider__item swiper-slide">
        <span>
          <img data-src="assets/brands/indesit.png" alt="Indesit" class="brands-item-list__img animated fadeIn" src="assets/brands/indesit.png">
        </span>
      </li>
      <li class="brands-item-list__item slider__item swiper-slide">
        <span>
          <img data-src="assets/brands/ariston.png" alt="Ariston" class="brands-item-list__img animated fadeIn" src="assets/brands/ariston.png">
        </span>
      </li>
      <li class="brands-item-list__item slider__item swiper-slide">
        <span>
          <img data-src="assets/brands/fujitsu.png" alt="Fujitsu" class="brands-item-list__img animated fadeIn" src="assets/brands/fujitsu.png">
        </span>
      </li>
      <li class="brands-item-list__item slider__item swiper-slide">
        <span>
          <img data-src="assets/brands/electrolux.png" alt="Electrolux" class="brands-item-list__img animated fadeIn" src="assets/brands/electrolux.png">
        </span>
      </li>
      <li class="brands-item-list__item slider__item swiper-slide">
        <span>
          <img data-src="assets/brands/liebherr.png" alt="Liebherr" class="brands-item-list__img animated fadeIn" src="assets/brands/liebherr.png">
        </span>
      </li>
      <li class="brands-item-list__item slider__item swiper-slide">
        <span>
          <img data-src="assets/brands/miele.png" alt="Miele" class="brands-item-list__img animated fadeIn" src="assets/brands/miele.png">
        </span>
      </li>
      <li class="brands-item-list__item slider__item swiper-slide">
        <span>
          <img data-src="assets/brands/candy.png" alt="Candy" class="brands-item-list__img animated fadeIn" src="assets/brands/candy.png">
        </span>
      </li>
      <li class="brands-item-list__item slider__item swiper-slide">
        <span>
          <img data-src="assets/brands/whirlpool.png" alt="Whirlpool" class="brands-item-list__img animated fadeIn" src="assets/brands/whirlpool.png">
        </span>
      </li>
      <li class="brands-item-list__item slider__item swiper-slide">
        <span>
          <img data-src="assets/brands/zanussi.png" alt="Zanussi" class="brands-item-list__img animated fadeIn" src="assets/brands/zanussi.png">
        </span>
      </li>
      <li class="brands-item-list__item slider__item swiper-slide">
        <span>
          <img data-src="assets/brands/aeg.png" alt="AEG" class="brands-item-list__img animated fadeIn" src="assets/brands/aeg.png">
        </span>
      </li>
      <li class="brands-item-list__item slider__item swiper-slide">
        <span>
          <img data-src="assets/brands/ardo.png" alt="Ardo" class="brands-item-list__img animated fadeIn" src="assets/brands/ardo.png">
        </span>
      </li>
      <li class="brands-item-list__item slider__item swiper-slide">
        <span>
          <img data-src="assets/brands/beko.png" alt="Beko" class="brands-item-list__img animated fadeIn" src="assets/brands/beko.png">
        </span>
      </li>
    </ul>
  </div>
</section>